<div *ngIf="dataLoaded == false" class="spinner-border text-dark" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<ul *ngIf="dataLoaded == true" class="list-group">
  <li
    (click)="removeCurrentColor()"
    routerLink="/cars"
    [class]="getAllCarsClass()"
  >
    Colors
  </li>
  <li
    (click)="setCurrentColor(color)"
    routerLink="/cars/colors/{{color.id}}"
    *ngFor="let color of colors"
    [class]="getCurrentColorClass(color)"
  >
    {{ color.name }}
  </li>
</ul>
