<div *ngIf="dataLoaded == false" class="spinner-border text-dark" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<ul *ngIf="dataLoaded == true" class="list-group">
  <li
    (click)="removeCurrentColor()"
    routerLink="/cars"
    [class]="getAllCarsClass()"
  >
    Colors
  </li>
  <li *ngFor="let color of colors"
  [class]="getCurrentColorClass(color)">
    <label
    (click)="setCurrentColor(color)"
    routerLink="/cars/colors/{{color.id}}"
      >{{ color.name }}</label
    >
    <button
      class="btn btn-success"
      style="float: right"
      routerLink="/admin/colorupdate/{{ color.id }}"
    >
      Güncelle
    </button>
  </li>
</ul>
