<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><h5>RentACar</h5></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <b>Yönetici İşlemleri</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><button class="dropdown-item" routerLink="/admin/caradd">Araç Ekle</button></li>
              <li><button class="dropdown-item" routerLink="/admin/brandadd">Marka Ekle</button></li>
              <li><button class="dropdown-item" routerLink="/admin/coloradd">Renk Ekle</button></li>
            </ul>
          </li>
        </ul>
         <form class="d-flex">
          <button *ngIf="isAuthenticated()==false" routerLink="/login"  class="btn btn-success" type="submit">Giriş Yap</button>
          <button *ngIf="isAuthenticated()==false" routerLink="/register" class="btn btn-warning" type="submit">Üye Ol</button>
          <div *ngIf="isAuthenticated()==true" class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
             {{userName}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><button *ngIf="isAuthenticated()==true" routerLink="/profile/update/{{userId}}" class=" dropdown-item" type="submit">Bilgilerimi Güncelle</button></li>
              <li><button *ngIf="isAuthenticated()==true" (click)="logOut()" class=" dropdown-item" type="submit">Çıkış Yap</button></li>
            </ul>
          </div>
        </form> 
      </div>
    </div>
  </nav>