<div *ngIf="dataLoaded == false" class="spinner-border text-dark" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<ul *ngIf="dataLoaded == true" class="list-group">
  <li
    (click)="removeCurrentBrand()"
    routerLink="/cars"
    [class]="getAllCarsClass()"
  >
    Brands
  </li>
  <li
    (click)="setCurrentBrand(brand)"
    routerLink="/cars/brands/{{brand.id}}"
    *ngFor="let brand of brands"
    [class]="getCurrentBrandClass(brand)"
  >
    {{ brand.name }}
  </li>
</ul>
