<div class="container">
  <app-navi></app-navi>
  <br>
  <div class="row">
    <div class="col-md-6">
      <app-brand></app-brand>
    </div>
    <div class="col-md-6">
      <app-color></app-color>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <app-car></app-car>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-5">
      <app-customer></app-customer>
    </div>
    <div class="col-md-7">
      <app-rental></app-rental>
    </div>
  </div>
  <br>
  <router-outlet></router-outlet>
</div>