<div *ngIf="dataLoaded==false" class="spinner-border text-dark" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">User Id</th>
      <th scope="col">Company Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.id}}</td>
      <td>{{customer.userId}}</td>
      <td>{{customer.companyName}}</td>
    </tr>
  </tbody>
</table>